<h1>Sign up</h1>

<form action= "/vendors" method="POST">
  Vendor Name: <input type="text" name="vendor[name]" value="<%=@vendor.name%>"/>

  <input type="submit" value="Create Account"/>
</form>

<!-- <%= form_for @vendor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create" %>
<% end %> -->
