<h3><%= @market.name %> </h3>
<p>
Location: <%= @market.location %>
</p> <p>
Vendors: <%= @vendor_list %>
</p>
<button> <a href ="/markets"> Back to Markets </a> </button>

<!-- Only gives option to delete/edit if it's set as your market-->
<% if @vendor != nil && @vendor.market_id == @market.id %>
  <p>
    <button> <a href ="/markets/<%=@market.id%>/edit"> Edit </a></button>
    <form action= "/products/<%=@market.id%>" method="POST">
      <input type ="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete"/>
    </form>
  </p>
<% end %>
