<h3><%= @product.name %> </h3>

<p> Vendor: <%= @this_vendor.name %> </p>


<table>
  <tr><th>Sales<th></tr>
  <tr class = "coltitles">
    <td> Amount </td>
    <td> Purchase Date </td>
  </tr>
  <% @sales.collect do |sale| %>
    <tr>
      <td> $<%= sale.amount %> </td>
      <td> <%=sale.purchase_time.month%>-<%=sale.purchase_time.day%>-<%=sale.purchase_time.year%> </td>
    </tr>
  <% end %>
</table>

<% if @vendor != nil && @product.vendor_id == @vendor.id %>
  <p>
    <button>
      <a href ="/products/<%=@product.id%>/edit"> Edit </a>
    </button>

    <button>
      <a href ="/products/<%=@product.id%>/sales/new"> Add a Sale </a>
    </button>

    <form action= "/products/<%=@product.id%>" method="POST">
      <input type ="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete This Product"/>
    </form>
  </p>
<% end %>
