This is <%= @vendor.name %>'s products page.

<% @products.collect do |product| %>
  <p> Product Name: <%= product.name %>
    <button> <a href ="/products/<%=product.id%>/edit"> Edit </a></button>
    <button> <a href ="/products/<%=product.id%>"> View Details </a></button> </p>
    <form action= "/products/<%=product.id%>" method="POST">
      <input type ="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete"/>
    </form>
<% end %>
