<h3> Add a Sale of <%= @product.name %> </h3>

<!--Learn how to make a "date" selections on a form-->
<!-- 
<form action= "/sales" method="POST">

  Sale Amount: <input type="text" name="sale[name]" value="<%=@sale.name%>"/>
  Purchase Date (YYYY-MM-DD): <input type="text" name="sale[purchase_time]" value="<%=@sale.purchase_time%>"/>
  <input type="hidden" name="sale[vendor_id]" value="<%=@vendor.id%>" />
  <input type="hidden" name="sale[product_id]" value="<%=@product.id%>" />
  <input type="submit" value="Add Product"/>

</form> -->
