<!DOCTYPE html>
<html>
<head>
  <title>RailsFarmar</title>
    <link type = "text/css" rel= "stylesheet" href = "/assets/stylesheets/resets.css" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class= "layer">
      <h1 id= "main-title">The Farthest Mar</h1>
    </div>
  </header>

  <div id= "navbar">
    <ul id= "navlinks">
      <!--If you are logged in-->
      <% if @vendor %>
        <li>
          <a href="/logout">Log out</a>
        </li>
        <li>
          <a href="/products">My Products</a>
        </li>
        <li>
          <a href="/sales">My Sales</a>
        </li>
        <li>
          <a href="/vendors/<%=@vendor.id%>">My Profile</a>
        </li>
        <li>
          <a href="/markets/<%=@vendor.market_id%>"> My Market </a>
        </li>
      <% else %>
        <li>
          <a href="/">Sign in</a>
        </li>
      <% end %>
        <li>
          <a href="/markets">All Markets</a>
        </li>
        <li>
          <a href="/all_products/">All Products</a>
        </li>
        <li>
          <a href= "/vendors"> All Vendors</a>
        </li>
    </ul>
  </div>

  <section class = "content">
    <%= yield %>
  </section>

  <footer>
    This site created by Bonnie Kwok and CM Uselton, October 10, 2014
  </footer>
</body>
</html>
